body {
    margin: 0;
}

.div1 {
    background-color: #ffa500;
    width: 500px;
    height: 500px
}

.div2 {
    background-color: #90ee90;
    height: 50%;
    width: 50%
}

.paragrafo {
    font-size: 25px;
    font-family: monospace;
    color: #fff;
    background-color: #ff2323;
    font-weight: bold
}

.div3 {
    width: 50vw;
    height: 50vh;
    background-color: rgb(000, 191, 255)
}

.div4 {
    width: 75vw;
    height: 50%;
    background-color: #e53935
}