main .wrapper .title-pag {
  font-size: 4rem;
  margin: 20px 0;
  text-align: center;
}

main .wrapper .container {
  padding: var(--padding-default);

  background-color: var(--bg-container-form);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 1);
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;

  max-width: 600px;
  max-height: 450px;
}

.container .form input {
  margin: 5px 0 20px 0;
  border-radius: 5px;
}

.container .form .btn-container {
  display: flex;
  justify-content: center;
}

.container .result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 3em;
}

.grafico {
  width: 600px;
  margin: 0 auto;
}

.grafico .grafico-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
  width: 100%;
}

.grafico .grafico-content .barra {
  height: 30px;
  margin:5px 0;
}

.grafico .grafico-content .barra-candidatoA {
  width: 40%;
  background-color: #43A047;
}
.grafico .grafico-content .barra-candidatoB {
  width: 45%;
  background-color: #E53935;
}

.grafico .grafico-content .barra-invalidos {
  width: 10%;
  background-color: #757575;
}