body {
  background-color: #F5F5F5;
  padding: 15px;
}

canvas {
  border: 1px solid #DCDCDC;
  background-color: #FFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.container {
  position: relative;
  margin: auto;
  height: 400px;
  width: 800px;
}